body, html {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

/* Dotted line stile */
hr {
  border:none;
  border-top:4px dotted #FFE200;;
  color:#fff;
  background-color:#fff;
  max-width: 44%;
  align-items: center;
}
